.App{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.input{
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  float: left;
  padding: 10px;
}

.top{
  box-sizing: border-box;
  width: 59%;
  height: 5%;
  float: left;
  /* position: relative;
  left: 50%; */
  padding: 10px;
}

.left{
  box-sizing: border-box;
  width: 59%;
  height: 95%;
  float: left;
  padding: 10px;
}

.right{
  box-sizing: border-box;
  width: 39%;
  height: 100%;
  float: right;
  padding: 10px;
}